@{
    ViewBag.Title = "About Devin";
}
<h1>@ViewBag.Title.</h1>


<p>
    Welcome to my about page! I am currently a senior studying marketing, business anlytics,
    and information systems at Ohio University. In addition to my course work I also hold the positions of
    research lead, client relations coordinator and chair of philantrophy and community engagement in the 
    Center for Consumer Research and Analytics while also serving as the vice president to our chapter of 
    American Marketing Associaition.</p>
