@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Copeland Hall<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    412-961-1877
</address>

<address>
    <strong>Devin Daley:</strong>   <a href="mailto:dd106516@ohio.edu">Here's my email</a><br />
</address>