@{
    ViewBag.Title = "Devin's Home Page";
}

<div class="jumbotron">
    <h2>Welcome to my page for MIS 4200</h2>
    <p class="lead">This is the home page for my first assignment for MIS 4200. This is the first of
    many and I'm hoping to learn a lot from this class! While you're here feel free to check out my 
    LinkedIn using the button below.</p>
    <p><a href="https://www.linkedin.com/in/devin-daley/" class="btn btn-primary btn-lg">Go to Devin's LinkedIn &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>CRA</h3>
        <p>
            One of my extra ciricular involvements is the Center for Consumer Research and Analytics. In my
            five semesters, I have been able to grow from being a research fellow on my first project with The Kroger
            Company to my current position of leading a project for Chase Bank. Check out the CRA with the button below!
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/about/centers-institutes/center-for-consumer-research-and-analytics/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>American Marketing Association</h3>
        <p>Having served as the Vice President of AMA since the Spring of 2019 is something I am very proud of.
        Having helped build our chapter to the point of acheiving Top 25 status last year truly proved the value of hard work.
        If you're interested in this org check out our website using the button below.</p>
        <p><a class="btn btn-default" href="https://ohiouama.wixsite.com/ou-ama">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>My Links</h3>
        <p>
            <ul>
                <li>@Html.ActionLink("Actors", "Index", "Actors")</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                <li>@Html.ActionLink("BestPictures", "Index", "BestPictures")</li>
            </ul>
        </p>
        
    </div>
</div>